.txt-bebida {
    font-size: 50px;
    margin-top: 10px;
    color: white;
}

.img-bebida {
    width: 350px;
    margin: 30px auto 0;
    height: 464px;
    object-fit: cover;
}

.card-bebida {
    background-color: #1e293b;
    width: 350px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}

.img-card {
    width: 248px;
}

.img-card img {
    height: 333px;
    object-fit: cover;
}
